body{
  margin: 0px;
}
#numbergame {
    display: none;
    align-items: center;
    justify-content: space-around;
   
}
#carddiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
   
    
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    height: 100px;
    width: 150px;
    margin: 10px;
    transition: all 1s;
}
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
    margin: 10px;

  }
  
  
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   
  }
  
  .card-front {
    background-color: #2d2b2b;
    color: #fff;
    display: flex;
    align-items: center;
    
    border: 10px solid #201f20;
    border-radius: 10px;
    justify-content: center;
    font-size: 30px;
    transform: rotateY(0deg);
  }
  
  .card-back {
    background-color: #F08A5D;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #F08A5D;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }
  

#btn1{
  padding: 10px 20px 10px 20px;
  background-color: #2d2b2b;
  color: white;
  border-radius: 30px;
}
.center{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}